header{
    position: relative;
    top: 0;
    height: 60px;
    display: flex;
justify-content: space-around;
align-items: center;
ul{
    display: flex;
    li{
        padding-left: 10%;
    }
}
button{
    margin: 0 15%;
    width: 70px;
    padding: 10% 1%;
    background-color: $button-bgc ;
    color: $color ;
    border: 2px solid $border-radius ;
}
}