body{
    .div1{
        border-bottom-right-radius: 30px ;
        width: 90px;
        height: 150px;
        background-color: $body-div;
        position: absolute;
        top: 0;
        left: 0;

    }
    .div2{
        border-bottom-left-radius: 40px ;
        width: 700px;
        height: 700px;
        background-color: $body-div;
        position: absolute;
        top: 0;
        right: 0;

    }
}
.first-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    text-align: center;
    h1{
        padding: 5% 0;
        font-size: 50px;
    }
    button{
        border-radius: 10px;
        margin-top: 7% ;
        padding: 3% 8%;
    }
    .first-button{
        background-color: $button-bgc;
        color: $color;
    }
    .second-button{
        border: 2px dashed  $button-bgc;
        color: $button-bgc;
    }
}
.icons{
    margin: 5% 17% 0;
   display: flex;
   justify-content: space-around;
    height: 300px;
}
.Approdable{
    margin: 0 15% 5%;
   p{
        color: $button-bgc;
    }
    h1{
        font-size: 30px;
    }
    .problems{
        color: $a-color;
    }
}
.card{
   
    margin-left: 5%;
    padding: 5% 10%;
    height: 200px;
    width: 100%;
    box-shadow: 20px 13px 19px rgba(0, 0, 0, 0.07);
}
.bosh-div{
    margin: 7% 0;
    width: 40%;
    border: 2px solid $bosdiv-color;
}
.col-12{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.col-3{
    padding: 2%;
}
.container{
    margin: 0 20%;
}
#green_card{
    background-color: $button-bgc !important;
}